<body class="mat-app-background">
  <mat-toolbar class="mat-elevation-z6" color="primary" style="height: 56px; position:relative; z-index: 2">
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
  </mat-toolbar>


  <mat-sidenav-container style="min-height: calc(100vh - 56px); position:relative; z-index: 1">
    <mat-sidenav #sidenav mode="side">
      <div style="margin: 20px; display: flex; flex-direction: column">
        <button mat-button (click)="router.navigate(['table'])" >Universal Table</button>
        <button mat-button (click)="router.navigate(['advanced-table'])">Advanced Search</button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="margin: 20px">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
