<mat-toolbar class="mat-elevation-z6" color="primary">
  <button mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>

<mat-sidenav-container style="min-height: 100vh">
  <mat-sidenav #sidenav mode="side" opened>
    <p>Hello there!</p>
  </mat-sidenav>

  <mat-sidenav-content>
<!--    <div style="background-color: purple;height: 100px"></div>-->
    <div style="padding: 20px;">
      <app-universal-table
        [dataSource]="ELEMENT_DATA"
        [displayedColumns]="displayedColumns"
      ></app-universal-table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

