<div style="padding: 20px;">
  <app-adaptive-table [displayColumns]="columnNames" [data]="data" [columns]="rules"></app-adaptive-table>

  <h4>RadioButton</h4>
  <p>{{selRow | json}}</p>

  <h4>CheckBox</h4>
  <p>{{selRows | json}}</p>
</div>

<div style="margin: 20px">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Table Data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-label>DATA</mat-label>
    </mat-expansion-panel>
  </mat-accordion>
</div>

